*.xml
.deployables
.git
target/
*.class
.metadata

# Eclipse settings
.classpath
.project
.settings

# Maven/Gradle build artifacts
/target/
/build/

# IntelliJ IDEA settings
*.iml
.idea

# Logs
*.logs
