@charset "EUC-KR";

button {
	position: absolute;
	left: 50%;
	width: 350px;
	height: 35px;
	background-color: navy;
	color: white;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 14pt;
	font-weight: bold;
	cursor: pointer;  손가락모양 : 클릭 가능한 버튼으로 표시함
}