@charset "UTF-8";

.gowork {
	width: 10%;
    height: 2%;
    position: absolute;
    top: 150px;
    left: 300px;
}


.contentPos {
	position: absolute;
    left: 247px;
    top: 112px;
    width: 1000px;
}

.footerPos {
    position: absolute;
    bottom: -292px;
    width: 100%;
}

.goworkBTN {
	position: relative;
    width: 287px;
    height: 47px;
    left: 62px;
    top: 100px;

}

.front{
	height: 100%
}

.table {
	width: 1000px;
}
.row {
	 text-align: center; /* 수평 중앙 배치 */
}
.paging{
	top: 372px;
    position: absolute;
    left: 135px;
}
