@charset "UTF-8";
footer {
    background-color: #007BFF; /* 파란색 */
    color: white;
    text-align: center; /* 오른쪽 정렬 */
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
