@charset "EUC-KR";

ul{
	position: absolute;
	left: 50%;
}

li{
	list-style-type: none;
}

li a{
	list-style-type: none;
	text-decoration: none;
	width: calc(100%);;
	height: 30px;
	display: block;
	background: orange;
	color: navy;
	text-align: center;
	font-weight: bold;
	margin: 0;
	text-shadow: 1px 1px 2px white;
	padding-top: 5px;
}
hr{ clear: both; }